// Variables
$background-color: black !important;
$text-color: white;
$shadow-color: white;
$link-color: white;
$link-hover-color: white;
$link-background-color: white;
$link-border-color: white;
$link-hover-border-color: rgb(254, 255, 254);
$link-icon-size: 2.5rem;
$link-hover-icon-size: 3.5rem;
$button-background-color: #1e7632;
$button-hover-background-color: #0b4425;
$form-background: linear-gradient(to bottom, #1f1d1d, #093b29);
$form-border-color: #ccc;
$form-border-radius: 5px;